<div class="clear"><div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div>
        <center><p class="copy-right">Made with  &nbsp;<i class="fa fa-heart" style="color:red"></i>&nbsp;  by Jay Vora, &nbsp; Debolina Saha, &nbsp; Himanshu Devangan,  &nbsp;Pawan Kumar</p></center>
    </div>
     
</footer>